@model TesteDesenvolvedor.Models.Imovel

@{
    ViewData["Title"] = "Detalhes do imóvel";
}

<h2>Detalhes</h2>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(x => x.TipoNegocio)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(x => x.TipoNegocio)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(x => x.Cliente)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(x => x.Cliente)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(x => x.ValorImovel)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(x => x.ValorImovel)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(x => x.DataPublicacao)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(x => x.DataPublicacao)
        </dt>
         <dt class="col-sm-2">
            @Html.DisplayNameFor(x => x.Endereco)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(x => x.Endereco)
        </dt>
         <dt class="col-sm-2">
            @Html.DisplayNameFor(x => x.Descricao)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(x => x.Descricao)
        </dt>
    </dl>
</div>
<a asp-action="Editar" asp-route-id="@Model.Id" class="btn btn-primary btn-sm">Editar</a>
<a asp-action="Index" class="btn btn-danger btn-sm">Voltar</a>