@model IEnumerable<TesteDesenvolvedor.Models.Imovel>

@{
    ViewData["Title"] = "Lista de Imóveis";
}

<h2>Imóveis</h2>
<br>
<p>
    <a asp-action="Criar" class="btn btn-primary btn-sm">Anunciar</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoNegocio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorImovel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(model => item.TipoNegocio)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Cliente)
                </td>
                <td>
                    @Html.DisplayFor(model => item.ValorImovel)
                </td>
                <td>
                    <a asp-action="Editar" asp-route-id="@item.Id" class="btn btn-primary btn-sm" >Editar</a> |
                    <a asp-action="Detalhes" asp-route-id="@item.Id" class="btn btn-secondary btn-sm">Detalhes</a> |
                    <a asp-action="Deletar" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Deletar</a> 
                </td>
            </tr>
        }
    </tbody>
</table>